$color-gray-1: #F6F6F8;
$color-gray-2: #F1F1F4;
$color-gray-3: #4F4F4F;
$color-gray-4: #272727;

$color-white-1: #FFF;



$color-translucent-white: rgba(255, 255, 255, 0.2);
$color-translucent-gray: rgba(77, 77, 77, 0.2);

$color-purple-1: #434E86;
$color-purple-2: #985FBE;
$color-purple-3: #D9D7ED;

$color-pink-1: #E47D96;
