$color-gray-1: #F3F3F5;
$color-gray-2: #8F8F8F;
$color-gray-3: #4F4F4F;

$color-green-1: #5CA991;
$color-green-2: #3B7C68;
$color-green-3: #9ac7ba;

$color-white-1: #FFF;



$color-translucent-white: rgba(255, 255, 255, 0.2);
$color-translucent-gray: rgba(77, 77, 77, 0.2);
