html, body {
	height: 100%;
	margin: 0;
	font-family: "Roboto", "Apple LiGothic Medium", "Microsoft JhengHei", Arial, sans-serif;
	font-weight: 300;
	/* background: linear-gradient(to bottom right, $color-background-1, $color-background-2); */
	background-color: $color-gray-1;
	overflow: hidden;
}

input, button {
	font-family: "Roboto", "Apple LiGothic Medium", "Microsoft JhengHei", Arial, sans-serif;
	font-weight: 300;
}

#app {
	height: 100%;
	font-size: 14px;
	color: $color-gray-2;
}

.container {
	display: flex;
	flex-direction: column;
	height: 100%;

}
