.header {
	height: 80px;
	display: flex;
	align-items: center;
	background: linear-gradient(to right, $color-purple-1 , $color-purple-2);

	.title {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 270px;
		height: 100%;
		font-size: 18px;
		color: $color-gray-1;
	}

	.list {
		min-width: 100px;
		margin: 0;
		padding: 0;
		list-style-type: none;
		.item {
			padding: 8px 10px;

			&:hover {
				/* background-color: $color-gray-1; */
				background-color: $color-gray-2;
				transition: all 0.2s linear;
			}
		}
	}
	.dropdown {
		margin: 0 10px;
	}

}
