.sidebar {
	.list {
		margin: 0;
		padding: 0;
		list-style-type: none;
		.item {
			cursor: pointer;
		}
		.text {
			display: inline-block;
		}
	}

	.root {
		> .item {
			margin-bottom: 15px;
			> .text {
				display: flex;
				align-items: center;
				padding: 10px 20px 7px 25px;
				font-size: 12px;
				font-weight: 500;
			}
		}
	}

	.sub {
		position: relative;
		> .item {
			> .text {
				position: relative;
				display: flex;
				align-items: center;
				padding: 7px 20px 7px 45px;
			}
			&:hover > .text {
				background-color: $color-gray-2;
				transition: all 0.2s linear;
			}
		}
	}
}
